/*css to body part*/
body{
    width: 100%;
    display: block;
    margin: 0%;
    padding: 0%;
    background-image: url(images/b4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

hr{
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-style:double;
}

/*Header*/
.header-nav div{  
    background-color: aliceblue;
}

.header-nav{
    width: 100%;
    display: block;
    background-color: aliceblue;
}

.header-main{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: block;
    justify-content: space-between;
}

.header-nav-logo{ 
    width: fit-content;
    height: 50%;
    padding-left: 0px;
    display: flex;
}

.header-nav-logo img{
    height: 55px;
    align-self: center;
}

.header-main ul{
    list-style: none;
    margin-left: 10px;
}

.header-main ul li{
    display: inline;
    float: left;
}

.header-main ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0px 10px 0px 10px;
}

.header-main ul li ::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 7px;
    background-color: black;
    transition: 0.4s;
}

.header-main ul li:hover::before{
    width: 100%;
}


.header-main ul li a:hover{
    color: rgb(233, 8, 113);
}

.header-nav-logo a i{
    color: black;
    padding-left: 100%;
    padding-top: 120%;
    height: 10%;
    width: 20%;
    
}

.header-nav-logo a i:hover{
    color: rgb(255, 145, 196);
}

.header-main-sign{
    padding-left: 1280px;
    justify-content: space-between;
    display: block;
}

.header-main-sign ul li a{
    display: flex;
} 

/* Full-width image with a fixed height, ensuring the entire image is shown without cropping */

h2{
    font-size: 30px;
    padding-left: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 1%;
}

.about{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.727);
    margin-left: 2%;
    padding-left: 2%;
    margin-right: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    margin-bottom: 3%;
}

.logo img {
    width: 500px;
    border: groove;
}

table tr td img{
    width: 200px;
    height: 270px;
    border: groove;
    border-color: rgb(255, 210, 255);
}

table tr td figure{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Footer Css*/
.footer{
    border: none;
    background-color: rgba(255, 178, 233, 0.804);
}

.footer h4{
    font-size: 18px;
    
}
.frow{
    display:flex;
    flex-wrap:wrap;
}

.footer-column {
  width: 25%;
  padding:0 15px;
}


.footer-column ul li a{
    font-size: 16px;
    color:black;
    text-decoration: none;
    font-weight: 200;
    display:block;
}

.footer-column ul li a:hover{
    color:white;
    transition: 0.5s;
}

.SocialIcons a{
    text-decoration: none;
    background-color: none;
    margin: 15px;
}

.SocialIcons a i{
    font-size: 0.7cm;
    color:black;
}

.SocialIcons a:hover i{
    color: white;
    transition:0.5s;
}

.footerBottom{
    background-color: black;
    padding:0.5px;
    text-align: left;
    padding-left: 15px;
}

.footerBottom p{
    font-size: 13px;
    color:white;
    letter-spacing: 0.6px;
}

