html{
   font-size: 62.5%;
   overflow-x: hidden;
}


*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

body{
   background-image: url(images/pharm.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
}

.container{
   max-width: 1200px;
   margin:0 auto;
   /* padding-bottom: 5rem; */
}

section{
   padding:5%;
}


.btn,
.option-btn,
.delete-btn{
   display: block;
   width: 100%;
   text-align: center;
   background-color: rgb(255, 72, 103);
   color:var(--white);
   font-size: 1.7rem;
   padding:1.2rem 3rem;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: yellow;
}

.option-btn i,
.delete-btn i{
   padding-right: .5rem;
}

#menu-btn{
   margin-left: 2rem;
   font-size: 3rem;
   cursor: pointer;
   color: white;
   display: none;
}

.add-product-form{
   max-width: 50rem;
   background-color: grey;
   border-radius: .5rem;
   padding:2rem;
   margin:0 auto;
   margin-top: 2rem;
}

.add-product-form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color: black;
   text-transform: uppercase;
   text-align: center;
}

.add-product-form .box{
   text-transform: none;
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color: black;
   border-radius: .5rem;
   background-color: white;
   margin:1rem 0;
   width: 100%;
}

.display-product-table table{
   width: 100%;
   text-align: center;
}

.display-product-table table thead th{
   padding:1.5rem;
   font-size: 2rem;
   background-color: black;
   color: white;
}

.display-product-table table td{
   padding:1.5rem;
   font-size: 2rem;
   color:black;
}

.display-product-table table td:first-child{
   padding:0;
}

.display-product-table table tr:nth-child(even){
   background-color: rgb(186, 186, 186);
}

.display-product-table .empty{
   margin-bottom: 2rem;
   text-align: center;
   background-color: orange;
   color: black;
   font-size: 2rem;
   padding:1.5rem;
}

.edit-form-container{
   position: fixed;
   top:0; left:0;
   z-index: 1100;
   background-color: hotpink;
   padding:2rem;
   display: none;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
}

.edit-form-container form{
   width: 50rem;
   border-radius: .5rem;
   background-color: white;
   text-align: center;
   padding:2rem;
}

.edit-form-container form .box{
   width: 100%;
   background-color: rgb(210, 210, 210);
   border-radius: .5rem;
   margin:1rem 0;
   font-size: 1.7rem;
   color: black;
   padding:1.2rem 1.4rem;
   text-transform: none;
}

.back-btn{
font-size: 15px;
margin-top: 50px;
margin-left: 8%;
display: inline-block;
padding: 10px 15px;
background-color: #7b7b7b;
color: #ffffff;
text-decoration: none;
border-radius: 4px;
margin-bottom: 20px;
text-decoration: none;
}

.back-btn a{
color: white;
}

.back-btn:hover{
background-color: mediumpurple;
}


















