/*Css file for Cart*/
 *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
 }

 body{
    position: relative;
    background-image: url(feedback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
 }

 html{
    font-size: 62.5%;
    overflow-x: hidden; 
 }
 
 table{
    width: 100%;
    background-color: rgb(255, 255, 255);
 }

 .cart{
    justify-content: center;
    max-width: 1200px;
    margin-top:10%;
    margin-left: 15%;
    box-shadow: 2px 3px 3px 3px;
    
 }
 
 section{
    padding:2rem;
 }
 
 .cart-head{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: black;
    margin-bottom: 2rem;
 }
 
 .btn,
 .option-btn,
 .delete-btn{
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 72, 103);
    color: white;
    font-size: 20px;
    padding:15px 10px;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
 }
 
 .btn:hover,
 .option-btn:hover,
 .delete-btn:hover{
    background-color: black;
 }
 
 table td .option-btn i,
 .delete-btn i{
   justify-content: center;
 }
 
 .option-btn{
    background-color: orange;
    width:180px;
 }
 
 .delete-btn{
    margin-left: 0px;
    margin-top: 0;
    background-color: rgb(255, 94, 70);
    width:200px;
 }

 table{
    font-size: 15px;
 }

 thead{
    color: white;
    height: 40px;
    background-color: rgb(0, 0, 50);
 }

table thead th .action{
    width:250px;
 }

form .box{
    border-style: solid;
 }

 .quantity{
    width: 70px;
    height: 40px;
    background-color: rgb(240, 240, 240);
    padding-left: 10%;
    justify-content: center;
    font-size: 15px;

 }

 form .update{
    background-color: rgb(163, 163, 163);
    width:100px;
    height: 40px;
    font-style: bold;
}

form .update:hover{
    background-color:rgb(255, 211, 98) ;
}