* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    color: rgb(53, 51, 51);
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensures correct positioning of elements */
    
}

section {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(feedback.jpg);
     background-size: cover;
    background-position: center;
    filter: blur(1px) brightness(40%);
    z-index: 1; /* Ensures the section (background) is behind the form */
}

.container {
    width: 900px;
    background: rgba(250, 191, 219, 0.5);
    box-shadow: 0 0 8px black;
    padding: 50px;
    z-index: 2; /* Ensures the form is in front of the background */
    position: relative; /* Needed to apply z-index */
}

h1 {
    text-align: center;
    color: #151515;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

td{
padding:16px;
text-align:left;
border-bottom: 1px solid #dddddd;
font-size: 16px;
background-color: white;
}

th {
    padding:10px;
    background-color: rgba(27, 1, 13, 0.893);
    color: white;
    letter-spacing: 0.05em;
    border-bottom: 2px solid #1a3566;
}


.button1 {
    background-color: rgba(255, 0, 98, 0.893); 
    color: white; 
    border: none;
    padding: 8px 12px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}


.button1 a {
    text-decoration: none;
    color: white; 
}


.button1:hover {
    background-color: rgba(75, 0, 29, 0.893); 
}
.back-button {
        display: inline-block;
        padding: 10px 15px;
        background-color: #4c4b4b;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .back-button:hover {
        background-color: black;
    }


