* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    color: rgb(53, 51, 51);
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensures correct positioning of elements */
    
}

section {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(feedback.jpg);
     background-size: cover;
    background-position: center;
    filter: blur(1px) brightness(40%);
    z-index: 1; /* Ensures the section (background) is behind the form */
}

.container {
    width: 580px;
    background: rgba(250, 191, 219, 0.5);
    box-shadow: 0 0 8px black;
    padding: 50px;
    z-index: 2; /* Ensures the form is in front of the background */
    position: relative; /* Needed to apply z-index */
}

.container form {
    width: 100%;
    text-align: center;
}

h1 {
    text-align: center;
    color: #151515;
}

input[type="text"],
input[type="email"],

select {
    width: 100%;
    border: 1px solid rgba(53, 51, 51, 0.5);
    border-radius: 10px;
    background-color: white;
    padding: 0 20px;
    font-size: 15px;
    margin: 20px 0;
    height:30px;
}

input[type="message"],
select {
    width: 100%;
    border: 1px solid rgba(53, 51, 51, 0.5);
    border-radius: 10px;
    background-color: white;
    padding: 0 20px;
    font-size: 15px;
    margin: 20px 0;
    height: 150px;
}

input[type="submit"] {
    background-color: rgb(71, 68, 69);
    margin-top: 5px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;
    width: 50%;
    height: 40px;
}

input[type="submit"]:hover {
    background-color: rgb(233, 8, 113);
}

.back-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4c4b4b;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    position: absolute;   
    top: 10px;            
    left: 10px; 
    
    
}

.back-button:hover {
    background-color:black;
}


