*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*:before,
*:after{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    margin-top: 2%;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    background-image: url(images/b4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

a:hover{
    color: fuchsia;
}

a{
    color:rgb(255, 48, 48);
    font-family: monospace;
}

.user-login{
    margin-top: 5%;
    position: relative;
    width: 600px;
    height:530px;
    background-color: rgba(255, 105, 228, 0.304);
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
}

label{
    margin-left: 0%;
}

input{
    margin-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 0%;
    border-radius: 15px;
    width: 50%;
    border-style: groove;
    border-color: black;
    font-style: italic;
    font-size: 10px;
    background-color: rgb(255, 255, 255);
}

button{padding-top: 1%;
    height: 40px;
    width: 200px;
}

.logIn{
    margin-top: 7%;
    padding-top: 30px;
    width: 500px;
    height: 440px;
    position: relative;
    background-color:rgba(255, 255, 255, 0.659);
    border: 1px;
    border-style: groove;
    border-color: black;
    transition: all 0.6s ease-in-out;
    border-radius: 1%;
}

input .log-class{
    width: 150px;
    height: 60px;
    border-radius: 0px;
}
