*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin-top: 3%;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    background-image: url(images/b4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

a:hover{
    color: fuchsia;
}

a{
    color: red;
    font-family: monospace;
}

span{
    color: dodgerblue;
}
.Registation{
    position: relative;
    width: 600px;
    height: 930px;
    background-color: rgba(255, 105, 228, 0.304);
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 2%;
}

label{
    margin-left: 0%;
}

input{
    margin-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 0%;
    border-radius: 15px;
    width: 50%;
    border-style: groove;
    border-color: black;
    font-style: italic;
    font-size: 10px;
    background-color: rgb(255, 255, 255);
}

button{padding-top: 1%;
    height: 40px;
    width: 200px;
}

.signUp{
    padding-top: 30px;
    width: 500px;
    height: 850px;
    position: relative;
    background-color:rgba(255, 255, 255, 0.659);
    border: 1px;
    border-style: groove;
    border-color: black;
    transition: all 0.6s ease-in-out;
    border-radius: 1%;
}

/*notification part*/
#result{
    margin-left: -220px;
    color: red;
}

.message{
    background-color: rgb(255, 221, 149);
    font-size: 30px;
    color: brown;
    font-style: bold;

}

button{
    background-color: rgb(193, 255, 105);
    font-size: 30px;
    font-style: bold;
    height: 50px;
    width: 180px;
}

button:hover{
    background-color: rgb(255, 250, 105);
}

.submit input{
    border-radius: 0px;
    background-color: rgb(209, 115, 233);
    height: 50px;
    width: 180px;
}

.submit input:hover{
    background-color: rgb(255, 106, 106);
}